---
import { SITE_TITLE, SOCIAL_LINKS } from '../consts';
---

<footer class="p-8 text-center">
  <div class="footer-content mx-auto">
    <p class="text-sm mt-2 text-gray-600">
      {SITE_TITLE} by <a
        href={SOCIAL_LINKS.portfolio}
        target="_blank"
        rel="noopener noreferrer"
        class="text-orange-600 hover:underline">Alex</a
      >
    </p>
  </div>
</footer>
