---
import { SITE_TITLE, SOCIAL_LINKS } from '../consts';
import Link from './Link.astro';
---

<footer class="p-8 text-center">
  <div class="footer-content mx-auto">
    <p class="text-sm mt-2 text-gray-600">
      {SITE_TITLE} by <Link href={SOCIAL_LINKS.portfolio} size="sm">Alex</Link>
    </p>
  </div>
</footer>
