---
import { SITE_TITLE } from '../consts';
---

<header class="bg-white shadow-sm py-6 px-8">
  <nav class="flex items-center justify-between">
    <h2 class="text-xl font-bold !-m-0">
      <a href="/" class="text-orange-500 no-underline hover:text-orange-600 transition-colors">
        {SITE_TITLE}
      </a>
    </h2>
  </nav>
</header>
